.hp-container{
    padding-left: 16px;
    padding-right: 16px;
    align-content:flex-start;
}
.h1-centered{
    text-align: center;
    overflow: hidden;
}
.child{
    text-align: center;
    list-style-position: inside;
    
}
ol {
    background: #ff9999;
    padding: 20px;
   
  }
  ol li {
    
    padding: 5px;
    margin-left: 35px;
  }
body{
    background-color:bisque;
    align-content: center;
    background-size: cover;
    
    
}
.header {
    background-color: #E77170;
    height: 150px;
}
.main{
    height:max-content;
}
.footer{
    text-align: center;
}